<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>EmoticonRumble</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>
        <div id="title-box">
            <h2 id="title"></h2>
        </div>
        <div id="nav">
            <div class="nav-button" id="briefing-nav">
                <span>Briefing</span>
            </div>
            <div class="nav-button" id="rumble-nav"><span>Rumble</span></div>
            <div class="nav-button" id="ai-rumble-nav">
                <span>AI Rumble</span>
            </div>
        </div>
        <div id="create-char"></div>
        <div id="display"></div>
        <div id="game-buttons"></div>
        <div id="leaderboard"></div>
        <span id="dark-mode-button" class="game-button"
            ><span id="dark-mode-button-emoji">🌑</span></span
        >

        <script src="main.js"></script>
    </body>
</html>
