<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>⭐Justin Banton⭐</title>
</head>

<body>
    <div id="menu-button-div">
        <canvas id="menu-button-canvas"></canvas>
    </div>
    <div id='nav-box-div'>
        <canvas id="nav-canvas1"></canvas>
        <canvas id="nav-canvas2"></canvas>
        <canvas id="nav-canvas3"></canvas>
        <canvas id="nav-canvas4"></canvas>
    </div>

    <div id="glassbox-content-div">
        <div id="welcome-div">Welcome!</div>
        <!--
            <form action="/Emoticon-Rumble" method="post">
            <input id="Emoticon-Rumble-button" type="submit" value="Play Emoticon Rumble">
        </form>
        -->

        <div>
            <ls>
                <li><a href="https://www.replit.com/@JustinBanton/Emoticon-Rumble" target="_blank">Emoticon Rumble</a></li>
                <li><a href="https://codepen.io/EctoBoi/pen/MNYeBa" target="_blank">Existing Pixels Generator</a></li>
                <li><a href="https://codepen.io/EctoBoi/pen/MxQWaP" target="_blank">Dynamic Comic Background</a></li>
                <li><a href="https://replit.com/@JustinBanton/FCC-Anonymous-Message-Board" target="_blank">Anonymous Message Board</a></li>
                <li><a href="https://replit.com/@JustinBanton/FCC-Sudoku-Solver" target="_blank">Sudoku Solver</a></li>
                <li><a href="https://codepen.io/EctoBoi/pen/xxxxwgw" target="_blank">Visualize Data with a Choropleth Map</a></li>
                <li><a href="https://codepen.io/EctoBoi/pen/jONJEVQ" target="_blank">Visualize Data with a Heat Map</a></li>
                <li><a href="https://replit.com/@JustinBanton/FCC-Stock-Price-Checker" target="_blank">Stock Price Checker</a></li>
                <li><a href="https://elendalelandscaping.com" target="_blank">Elendale Landscaping</a></li>
                <li><a href="https://github.com/EctoBoi/CabBPSSearch" target="_blank">CabBPSSearch</a></li>
            </ls>
        </div>
    </div>

    <canvas id="glassbox-canvas"></canvas>

    <script src="main.js"></script>
</body>

</html>