<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>⭐Justin Banton⭐</title>
</head>

<body>
    <div id="menu-button-div">
        <canvas id="menu-button-canvas"></canvas>
    </div>
    <div id='nav-box-div'>
        <canvas id="nav-canvas1"></canvas>
        <canvas id="nav-canvas2"></canvas>
        <canvas id="nav-canvas3"></canvas>
        <canvas id="nav-canvas4"></canvas>
    </div>

    <div id="glassbox-content-div">
        <div id="welcome-div">Welcome!</div>
        <!--
            <form action="/Emoticon-Rumble" method="post">
            <input id="Emoticon-Rumble-button" type="submit" value="Play Emoticon Rumble">
        </form>
        -->

        <div id="about-div">
            <ls>
                <li>Javascript (React JQuery TypeScript (Node.js Express Mongoose) D3.js)</li>
                <li>HTML CSS (SASS Bootstrap)</li>
                <li>SQL (MongoDB)</li>
                <li>PHP </li>
                <li>Photoshop Illustrator </li>
            </ls>
            <p>Hello! I'm Justin. I specialize in Javascript, whether front-end or back-end. When designing the user experience, I often prioritize perfecting the feel and accessibility of a website, striking a balance between functionality and readability.
                I believe a website or tool should be intuitive enough that anyone should innately understand how to interact with the product with a minimal learning curve. </p>
            <p>Interestingly enough, I purposefully went to work in retail for multiple years to improve my interpersonal and communication skills. Additionally, this did wonders for my ability to work in teams, as a reliable teammate, or in a leadership
                role. During this time, it allowed me to be independent and take initiative. Furthermore, it refined my organizational skills and ability to work under pressure, which helped me effectively manage my time.</p>
            <p>I am actively seeking employment opportunities where I can utilize my skills and experience while also having the chance to learn and develop professionally. If you believe I would be a good fit for an open position within your organization,
                please do not hesitate to reach out to me.</p>
        </div>

        <div id="portfolio-div">
            <div id="gallery-div">
                <img class="gallery-img" src="https://www.discoverboating.com/sites/default/files/inline-images/lake-tahoe.jpg">
                <img class="gallery-img" src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80">
                <img class="gallery-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg/640px-Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg">
                <img class="gallery-img" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Salta-VallesCalchaquies-P3140151.JPG">
            </div>

            <div id="project-list-div">
                <ls>
                    <li><a href="https://www.replit.com/@JustinBanton/Emoticon-Rumble" target="_blank">Emoticon Rumble</a></li>
                    <li><a href="https://codepen.io/EctoBoi/pen/MNYeBa" target="_blank">Existing Pixels Generator</a></li>
                    <li><a href="https://codepen.io/EctoBoi/pen/MxQWaP" target="_blank">Dynamic Comic Background</a></li>
                    <li><a href="https://replit.com/@JustinBanton/FCC-Anonymous-Message-Board" target="_blank">Anonymous Message Board</a></li>
                    <li><a href="https://replit.com/@JustinBanton/FCC-Sudoku-Solver" target="_blank">Sudoku Solver</a></li>
                    <li><a href="https://codepen.io/EctoBoi/pen/xxxxwgw" target="_blank">Visualize Data with a Choropleth Map</a></li>
                    <li><a href="https://codepen.io/EctoBoi/pen/jONJEVQ" target="_blank">Visualize Data with a Heat Map</a></li>
                    <li><a href="https://replit.com/@JustinBanton/FCC-Stock-Price-Checker" target="_blank">Stock Price Checker</a></li>
                    <li><a href="https://elendalelandscaping.com" target="_blank">Elendale Landscaping</a></li>
                    <li><a href="https://github.com/EctoBoi/CabBPSSearch" target="_blank">CabBPSSearch</a></li>
                </ls>
            </div>
        </div>

        <div id="contact-div">
            <a href="https://www.linkedin.com/in/jbanton/" target="_blank">LinkedIn</a><br>
            <a href="https://github.com/EctoBoi/" target="_blank">GitHub</a>
        </div>
    </div>

    <canvas id="glassbox-canvas"></canvas>

    <script src="main.js"></script>
</body>

</html>