<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>🐉Snakish👑</title>
        <link rel="icon" type="image/png" href="/imgs/birbcircle.png" />
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>
        <div id="renderer-container"></div>
        <div id="buttons">
            <button id="start-stop">Start / Stop</button>
            <button id="reset">Reset</button>
            <button id="auto-reset">Auto Reset: OFF</button>
            <span id="auto-reset-icon"></span>
        </div>
        <h3 id="score-board"></h3>
        <h4 id="match-history"></h4>
        <div id="board" style="display: none"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
