body {
    margin: 0;
    font-size: 20px;
}

#Emoticon-Rumble-button {
    margin-top: 20px;
    padding: 5px;
    background-color: #fff5f5;
    border: 4px solid #dfd3d3;
    border-radius: 8px;
}

#Emoticon-Rumble-button:hover {
    background-color: #f3e9e9;
    border: 4px solid #d6caca;
}

#welcome-div {
    font-size: 30px;
    position: relative;
}