body {
    font-family: Verdana;
    background-color: #fff6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10;
    color: black;
}

@media (max-width: 641px) {
    body {
        width: 150%;
    }
}

#title-box {
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
#title {
    font-weight: normal;
}

#nav {
    display: flex;
    flex-wrap: wrap;
}
.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 35px;
    width: 110px;
    min-width: 100px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #ccefff;
    border: 3px solid #99ddff;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.nav-button:hover {
    background-color: #b3e7ff;
    border-color: #80d4ff;
}

#create-char {
    text-align: center;
}
#emoticon-input {
    width: 80px;
    text-align: center;
}
#random-button {
    cursor: pointer;
    user-select: none;
}
.char-label {
    font-size: 20px;
}
.char-input {
    width: 150px;
}
.btn-disable {
    cursor: not-allowed;
    pointer-events: none;
    color: #595959;
    background-color: #e6e6e6;
    border: solid #d9d9d9;
}

#game-buttons {
    display: inline-flex;
    align-items: center;
}
.game-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ccefff;
    border: 3px solid #99ddff;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    padding: 2px 4px 8px 4px;
    margin-left: 8px;
}
#faster-button,
#slower-button {
    font-size: 14px;
}
.game-button:hover {
    background-color: #b3e7ff;
    border-color: #80d4ff;
}

#dark-mode-button {
    position: fixed;
    right: 10px;
    top: 10px;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.emoticon {
    display: inline-block;
    width: 80px;
    text-align: center;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#briefing {
    max-width: 80%;
    font-size: 18px;
}
