#glassbox-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1000;
}

#glassbox-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}